<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean id ="product1" class = "com.venkatesh.it.beans.wiring.Product">
<constructor-arg value ="111"></constructor-arg>
<constructor-arg value ="iphone 16"></constructor-arg>
<constructor-arg value ="99999"></constructor-arg>
</bean>

<bean id ="product2" class = "com.venkatesh.it.beans.wiring.Product">
<constructor-arg value ="222"></constructor-arg>
<constructor-arg value ="iphone 16 pro"></constructor-arg>
<constructor-arg value ="189000"></constructor-arg>
</bean>
<bean id = "cart" class = "com.venkatesh.it.beans.wiring.Cart" autowire="byName"></bean>
<bean id ="order" class ="com.venkatesh.it.beans.wiring.Order" autowire ="byName"></bean>
</beans>